@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: #5d04b2 !important;
}

.my-container {
  @apply mx-auto container px-2 sm:px-6 lg:px-8;
}
